<meta http-equiv="refresh" content=1;url="/minha_conta">
<header class="business-header bg-overlay ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12  text-center align">
              <div id="circle" style="margin-top: 30% !important;">
                <div class="loader">
                  <div class="loader">
                      <div class="loader">
                         <div class="loader">
                         </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</header>

<style>
#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	  width: 150px;
    height: 150px;
    margin-top: -75px;
}
.loader {
    width: calc(100% - 0px);
	height: calc(100% - 0px);
	border: 8px solid #162534;
	border-top: 8px solid #09f;
	border-radius: 50%;
	animation: rotate 5s linear infinite;
}
@keyframes rotate {
100% {transform: rotate(360deg);}
}
</style>