<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<%= link_to 'Aplicações', oauth_applications_path %>

<button class="mdc-button">
  Button
</button>

<div class="mdc-form-field">
  <div class="mdc-checkbox">
    <input type="checkbox" id="my-checkbox" class="mdc-checkbox__native-control"/>
    <div class="mdc-checkbox__background">
      ...
    </div>
  </div>
  <label for="my-checkbox">This is my checkbox</label>
</div>