@media screen and
(min-width: 200px) and
(max-width: 449px) {
  .tamanhoCard{
    width: 100% !important;
  }
  .tamanhoCardSign{
    width: 100% !important;
  }
  .classPaddingVoltar{
    width: 100% !important;
  }
  .classPaddingConcluir{
    width: 100% !important;
  }
  .propertiesDivCaptcha{
    margin-bottom: -5% !important;
  }
  .tamPadding{
    padding-left: 1px !important;
    padding-right: 1px !important;
  }
  .txt-properties{
    font-size: 20px !important;
  }
  .container{
    webkit-box-sizing: inherit !important;
    width: 100% !important;
    box-sizing: inherit !important;
  }

}

@media screen and
(min-width: 450px) and
(max-width: 575px) {
  .container{
    webkit-box-sizing: inherit !important;
    width: 100% !important;
    box-sizing: inherit !important;
  }
  .tamPadding{
    padding-left: 1% !important;
    padding-right: 1% !important;
  }
  .tamanhoCard{
    width: 100% !important;
  }
  .tamanhoCardSign{
    width: 100% !important;
  }
  .classPaddingVoltar{
    width: 100% !important;
  }
  .classPaddingConcluir{
    width: 100% !important;
  }
  .propertiesDivCaptcha{
    margin-bottom: -3% !important;
  }
}

@media screen and
(min-width: 576px) and
(max-width: 639px) {
  .tamPadding{
    padding-left: 2% !important;
    padding-right: 2% !important;
  }
  .tamanhoCard{
    width: 80% !important;
  }
  .tamanhoCardSign{
    width: 80% !important;
  }
  .propertiesDivCaptcha{
    margin-bottom: -3% !important;
  }
}

@media screen and
(min-width: 640px) and
(max-width: 799px) {

  .tamanhoCard{
    width: 80% !important;
  }
  .tamanhoCardSign{
    width: 80% !important;
  }
  .propertiesDivCaptcha{
    margin-bottom: -3% !important;
  }
}

@media screen and
(min-width: 800px) and
(max-width: 1023px) {
  .tamanhoCard{
    width: 70% !important;
  }
  .tamanhoCardSign{
    width: 70% !important;
  }
  .propertiesDivCaptcha{
    margin-bottom: -2% !important;
  }
}

@media screen and
(min-width: 1024px) and
(max-width: 1279px) {


}


@media screen and
(min-width: 1280px) and
(max-width: 1365px){


}


@media screen and
(min-width: 1366px) and
(max-width: 1439px){


}


@media screen and
(min-width: 1440px) and
(max-width: 1599px){


}


@media screen and
(min-width: 1600px) and
(max-width: 1679px){


}

@media screen and
(min-width: 1680px) and
(max-width: 4080px){


}

.bg-overlay  {
  height:100vh;
  min-height:100vh;
  overflow:auto;
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),url('https://images.pexels.com/photos/1370296/pexels-photo-1370296.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}
.bg-signin  {
  height:100vh;
  min-height:100vh;
  overflow:auto;
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),url('https://images.pexels.com/photos/261679/pexels-photo-261679.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
  background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
}

.container{
  height: 100%;
  align-content: center;
}

.card{
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba(0,0,0,0.5) !important;
}
.tamanhoCard{
  width: 40%;
}
.social_icon span{
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
}

.social_icon span:hover{
  color: white;
  cursor: pointer;
}

.card-header h3{
  color: white;
}

.social_icon{
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span{
  width: 50px;
  background-color: #FFC312;
  color: black;
  border:0 !important;
}

input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;

}

.remember{
  color: white;
}

.remember input
{
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn{
  color: black;
  background-color: #FFC312;
  width: 100px;
}

.login_btn:hover{
  color: black;
  background-color: white;
}

.links{
  color: white;
}

.links a{
  margin-left: 4px;
}
.spacing_buttons{
  margin-bottom: 2%;
}
.t15{
  height: 15% !important;
}
.t60{
  height: 60% !important;
}
.block{
  display: block !important;
}
.titleProperties{
  color: whitesmoke;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 35px;
  padding: 30px;
}

hr.two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255,255,255), rgba(0, 0, 0, 0));
}

hr.two:after {
  content: "or";
  display: inline-block;
  position: relative;
  padding: 0 0.25em;
  color:white;
  font-weight: bold;
}

.whitef{
  color:white;

}
.sign_in_text{
  color:white;
  font-family: 'Numans', sans-serif !important;
}
.card-body{
  width: 100% !important;
}
.links a {
  margin-left: 0px !important;
}
.text-color{
  color: white !important;
}
.half{
  width: 50% !important;
}

.form-container {
  display: block;
  margin: 1%;
  text-align: left;
}

.form-container-2 {
  display: block;
  margin: 1%;
  text-align: left;
}

label {
  display: block;
  position: relative;
  text-transform: uppercase;
  color: #aaa;
}

input[type='password'] {
  width: 100%;
  box-sizing: border-box;
  height: 55px;
  display: inline-block;
  border: 3px solid #2F96EF;
  border-radius: 5px;
  padding: 0 15px;
  margin: 10px 0;
  transition: .2s;
}

input[type='password']:focus {
  outline: none;
  -moz-outline: none;
  -webkit-outline: none;
}

lable:before {
  color: #aaa;
  font-size: 22px;
  position: absolute;
  right: 25px;
  top: 44px;
}

.progress-bar_wrap {
  width: 300px;
  height: 5px;
  background: #F6F6FA;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 5px;
}

.progress-bar_item-1 {

}

.progress-bar_item-2 {

}

.progress-bar_item-3 {

}

.progress-bar_text {
  display: inline-block;
  color: #aaa;
  margin-left: 5px;
  transition: .2s;
}

.form-2 .progress-bar_item {
  display: inline-block;
  height: 100%;
  width: 32.5%;
  margin-right: .8%;
  border-radius: 5px;
  float: left;
  transition: background-color .2s, visisility .1s;
}

.form-2 .progress-bar_item-1.active {
  background-color: #FF4B47;
}

.form-2 .progress-bar_item-2.active {
  background-color: #F9AE35;
}

.form-2 .progress-bar_item-3.active {
  background-color: #2DAF7D;
}

.tamanhoCardSign{
  width: 65%;
}

.inputCampos{
  width: 100%;
  box-sizing: border-box;
  height: 55px;
  display: inline-block;
  border: 3px solid #2F96EF;
  border-radius: 5px;
  padding: 0 15px;
  margin: 10px 0;
  transition: .2s;
}
.inputCampos2{
  width: 100%;
  box-sizing: border-box;
  height: 44px;
  display: inline-block;
  border: 3px solid #2F96EF;
  border-radius: 5px;
  padding: 0 15px;
  margin: 10px 0;
  transition: .2s;
}
.marginlft{
  margin-left: 1% !important;
}





@CHARSET "UTF-8";
/*
over-ride "Weak" message, show font in dark grey
*/

.progress-bar {
  color: #333;
}

/*
Reference:
http://www.bootstrapzen.com/item/135/simple-login-form-logo/
*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;


  &:focus {
    z-index: 2;
  }
}

body {
  background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-form {
  margin-top: 60px;
}

form[role=login] {
  color: #5d5d5d;
  background: #f2f2f2;
  padding: 26px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
form[role=login] img {
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
}
form[role=login] input,
form[role=login] button {
  font-size: 18px;
  margin: 16px 0;
}
form[role=login] > div {
  text-align: center;
}

.form-links {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 50px;
}
.form-links a {
  color: #fff;
}
.customRow{
  display: flex;
  width: 100%;
}
.displaybck{
  display: block !important;
}
.maxWidth{
  width: 100%;
}
.propertiesNewCourse{
  margin-left: 33%;
  margin-right: 33%;
  margin-top: 2%;
  width: 30%;
  text-align: center;
}
.propertiesButtonInscrever{
  width: 100%;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center !important;
}
.cardSize{
  width: 50%;
}
.classPaddingVoltar{
  padding-left: 1%;
  padding-right: 2px;
  padding-top: 1%;
  width: 50%;

}
.classPaddingConcluir{
  padding-right: 1%;
  padding-left: 2px;
  padding-top: 1%;
  width: 50%;
}
.propertiesDivCaptcha{
  width: 100%;
  text-align: center;
  margin-top: 3%;
  margin-left: 1%;
  margin-bottom: -2%;
}
.bgProperties{
    background-color: rgba(0,0,0,0.9);
}
.txt-properties{
  text-align: center;
  font-weight: bolder;
  color: white;
  font-size: 40px;
}
.txt-bg-properties{
  padding-top: 5%;
  padding-bottom: 2%;
}
.tamPadding{
  padding-left: 20%;
  padding-right: 20%;
}

body { padding: 2em; }


/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}
.padding2pc{
  padding: 2%;
}
.padding2px{
  padding: 2px;
}
.propertiesRowLembrar{
  width: 100%;
  justify-content: space-between;
  padding-left: 1.25rem;
  padding-top: 2px;
  padding-bottom: 2px;
}
.propertiesRowSocial{
  width: 100%;
  padding-left: 1.25rem;
  padding-bottom: 2px;
  padding-top: 2px;
}
.tamanhoRowSocial{
  width: 49%;
  margin-right: 1%;
}