<table>
  <tr>
  <th>Nome</th>
  <th>Chave</th>
  <th>Nível de acesso</th>
  </tr>
  <% @api_keys.each do |api_key| %>
    <tr>
      <td><%= api_key.user.first_name + api_key.user.last_name %></td>
      <td><%= api_key.key %></td>
      <td><%= api_key.api_access_level.name %></td>
      <td><%= link_to 'Apagar', api_access_path(api_key), method: :delete %></td>
    </tr>
  <% end %>
</table>